.wrapper {

}

.search {
    position: absolute;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 16px;
    margin-left: 24px;
    gap: 16px;
    width: 446px;
    height: 48px;
    background: #ede6e6;
    border-radius: 12px;

    input {
        border: none;
        outline: none;
        width: 361px;
        height: 28px;
        font-family: 'Montserrat';
        font-style: italic;
        font-weight: 400;
        font-size: 16px;
        line-height: 20px;
        color: #1e0d03;
        opacity: 0.3;
        background: #ede6e6;
    }
}

.search-btn {
    border: none;
    outline: none;
    color: #1e0d03;
    margin-left: 50px;
    background: #ede6e6;

    &:hover {
        background-color: #eae3d3;
        cursor: pointer;
    }
}

.btn {
    position: relative;
    margin-right: 24px;

    justify-content: flex-end;
    display: flex;
    flex-direction: row;
    align-items: center;
    
    gap: 16px;
   
    border-radius: 12px;
    
    img {
        padding-right: 12px;
    }

    p {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        /* identical to box height, or 144% */

        display: flex;
        align-items: center;

        /* Yellow/1 */  

        color: #FF993C;
    }
}

.filter-btn  {
width: 127px;
height: 48px;

border: 1px solid #FF993C;
border-radius: 6px;
display: flex;
justify-content: center;
align-items: center;
cursor: pointer;
    

}

.loupe-btn {
height: 48px;
width: 181px;
border: 1px solid #FF993C;
border-radius: 6px;
cursor: pointer;
font-family: 'Montserrat';
        font-style: normal;
        font-weight: 700;
        font-size: 18px;
        line-height: 26px;
        /* identical to box height, or 144% */

       
        align-items: center;

        /* Yellow/1 */  

        color: #FF993C;
}

