.header {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 54px;
    padding: 24px;
    color: #1E0D03;
}

.nav {
    display: flex;
    justify-content: space-between;
    
}

.text {

    margin-left: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 156% */


    /* Text */

    color: #1E0D03;
}

.calender {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 12px;
    gap: 10px;
    background: #FFFFFF;
    border: 1px solid #E6E0E0;
    border-radius: 4px; 
    margin-right: 63px;

        p {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;

            color: #1E0D03;

            opacity: 0.78;
        }
}


.sub-nav {
    margin-top: 40px;
    margin-left: 24px;
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    line-height: 28px;
    /* identical to box height, or 156% */


    /* Text */

    color: #1E0D03;
    h1 {
        width: 188px;
height: 22px;
left: 24px;
top: calc(50% - 22px/2 + 5.5px);

/* 14 medium */

font-family: 'Montserrat';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 22px;
/* identical to box height, or 157% */


/* Text */

color: #1E0D03;

opacity: 0.5;

    }
    h2 {
        //styleName: 24 bold;
font-family: Montserrat;
font-size: 24px;
font-weight: 700;
line-height: 30px;
letter-spacing: 0em;
text-align: left;
display: flex;
        p{
            width: 38px;
            height: 22px;
            left: 172px;
            top: calc(50% - 22px/2 + 35.5px);
            
            /* 14 medium */
            
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            margin-left: 4px;
    margin-top: 7px;
            /* identical to box height, or 157% */
            
            
            /* Text */
            
            color: #1E0D03;
        }
    }
}

.calender-2 {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 32px;
    margin-top: 83px;
    gap: 10px;
    background: #FFFFFF;
    border: 1px solid #E6E0E0;
    border-radius: 4px;
    width: 155px;
    height: 40px; 
   

        p { 
            margin-left: 12px;
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;

            color: #1E0D03;

            opacity: 0.78;
        }
}