.wrapper {
    flex-direction: columns;
    align-items: center;
    // display: flex;
}

.container {
    width: 100%;
    // height: 572px;
    display: flex;
}

.content {
    // flex: 1;
    // background-color: aqua;
}
